<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miguel.appdeportes" >

    <!-- Permiso de conexion de internet -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Permiso vibracion -->
    <uses-permission android:name="android.permission.VIBRATE"/>

    <!-- Evita que otras aplicaciones reciban mensajes  -->
    <permission android:name="main.C2D_MESSAGE"
        android:protectionLevel="signature"/>
    <uses-permission android:name="main.C2D_MESSAGE"/>

    <!-- Permisos para push -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


    <!-- Login -->
    <activity
        android:name="register.Login"
        android:label="@string/app_name" >
        <intent-filter>
            <action android:name="register.LOGIN" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <!-- Registro -->
    <activity
        android:name="register.Register"
        android:label="@string/app_name" >
        <intent-filter>
            <action android:name="register.REGISTER" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <!-- Seleccion nota -->
    <activity
        android:name="actions.PickerCalification"
        android:label="@string/app_name" >
        <intent-filter>
            <action android:name="actions.PICKERCALIFICATION" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <!-- Lista entrenamientos -->
    <activity
        android:name="training.ListTrainings"
        android:label="@string/app_name" >
        <intent-filter>
            <action android:name="training.LISTTRAININGS" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <!-- Cierra sesión -->
    <activity
        android:name="register.CloseSession"
        android:label="@string/app_name" >
        <intent-filter>
            <action android:name="register.CLOSESESSION" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <!-- Registro del dispositivo en GCM -->
    <activity
        android:name="register.RegisterGCM"
        android:label="@string/app_name" >
        <intent-filter>
            <action android:name="register.REGISTERGCM" />

            <category android:name="android.intent.category.DEFAULT" />
        </intent-filter>
    </activity>

    <receiver
        android:name="gcm.GCMBroadcastReceiver"
        android:permission="com.google.android.c2dm.permission.SEND" >
        <intent-filter>
            <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

            <category android:name="gcm" />
        </intent-filter>
    </receiver>

    <service android:name="gcm.GCMIntentService" />

    <meta-data android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />
</application>

</manifest>
